<mat-dialog-content>
    <div class="flexInfoPhone">
        <div class="containerIconPhone">
            <img src="../../assets/img/iconoMovil.png" alt="icono movil" class="iconPhone">
        </div>
        <div>
            <h1 class="letterStyle">{{"Modelo: "+phone.brand + " "+ phone.model}}</h1>
            <h1 class="letterStyle">{{"Nucleos: "+phone.processor.coreNumber}}</h1>
            <h1 class="letterStyle">{{"ClockRate: "+phone.processor.velocity+"Ghz"}}</h1>
            <h1 class="letterStyle">{{"Ram: "+phone.ram + "GB"}}</h1>
            <h1 class="letterStyle">{{"Screen: "+phone.screen + "''"}}</h1>
            <h1 class="letterStyle">{{"Battery: "+phone.battery+"mAh"}}</h1>
            <h1 class="letterStyle">{{"Antutu: "+phone.antutu}}</h1>
            <h1 class="letterStyle">{{"Price: "+phone.price+"€"}}</h1>
        </div>
    </div> 
    <div class="graphAndTittleContainer">
        <div class="historicalPriceContainerTittle">
            <h1 class="tittleHistorical letterStyle">HISTORIAL DE PRECIOS</h1>
        </div> 
        <div class="graph">
            <app-graph-compare-mobiles></app-graph-compare-mobiles>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>