<h3 style="text-align: center; text-decoration: underline; margin-top: 20px;">Precio</h3>
<div class="container-custom-slider">
    <div class="custom-slider">
        <ngx-slider [(value)]="valuePrizeMin" [(highValue)]="valuePrizeMax" [options]="optionsPrize"></ngx-slider>
    </div>  
</div>
<h3 style="text-align: center; text-decoration: underline;margin-top: 20px;">Nucleos Procesador</h3>
<div class="container-custom-slider">
    <div class="custom-slider">
        <ngx-slider [(value)]="valueProcessorCoreMin" [(highValue)]="valueProcessorCoreMax" [options]="optionsProcessor"></ngx-slider>
    </div>
</div>
<h3 style="text-align: center; text-decoration: underline;margin-top: 20px;">Velocidad Reloj</h3>
<div class="container-custom-slider">
    <div class="custom-slider">
        <ngx-slider [(value)]="valueClockRateMin" [(highValue)]="valueClockRateMax" [options]="optionsClockRateProcessor"></ngx-slider>
    </div>
</div>
<h3 style="text-align: center; text-decoration: underline;margin-top: 20px;">Ram</h3>
<div class="container-custom-slider">
    <div class="custom-slider">
        <ngx-slider [(value)]="valueRamMin" [(highValue)]="valueRamMax" [options]="optionsRam"></ngx-slider>
    </div>
</div>
<h3 style="text-align: center; text-decoration: underline;margin-top: 20px;">Screen</h3>
<div class="container-custom-slider">
    <div class="custom-slider">
        <ngx-slider [(value)]="valueScreenMin" [(highValue)]="valueScreenMax" [options]="optionsScreen"></ngx-slider>
    </div>
</div>



