<div class="cardContainer">
    <div #card *ngFor="let item of phoneListDisplayed" class="card" (click)="clickCaptured(item)"> 
        <div class="containerIzq">
            <img src="../../assets/img/iconoMovil.png" alt="movil" class="iconPhoneCard">
        </div>
        <div class="containerDer">
            <div class="containerTittlePhone">
                <span class="tittlePhone">{{item.brand + " "+ item.model}}</span>
            </div>
            <div class="containerPadding">
                <span class="letterStyle">{{"Clock rate: "+ item.processor.velocity + "Ghz"}}</span>
            </div>
            <div class="containerPadding">
                <span class="letterStyle">{{"Ram: "+item.ram +"GB"}}</span>
            </div>
            <div class="containerPadding">
                <span class="letterStyle">{{"Precio: "+item.price+"€"}}</span>
            </div>
            <div class="bottomCard">
                <div class="containerIconComparison" mat-stroked-button (click)="clickComparation($event,item)"
                 #tooltip="matTooltip" matTooltip="Comparar" matTooltipClass="containerTooltip" class="buttonComparison">
                    <img src="../../assets/img/iconoComparacion.png" alt="ver datos movil" class="iconPhone">
                </div>
            </div>
        </div>
    </div>
</div>
