.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
} 

    .card{
        display: flex;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 10px;
        border: solid 2px black;
        width: 25%;
        height: 25vh;
        padding: 10px;
        background-color: #073B3A;
        font-family: 'Times New Roman', Times, serif;
        cursor: pointer;
    }

    .card:hover{
        background-color: #0B6E4F;
        font-weight: bold;
    }

        .containerDer{
            width: 63%;
        }

        .containerPadding{
            margin-top: 20px;
            width: 100%;
        }

        .containerTittlePhone{
            margin-bottom: 10px;
            text-decoration: underline;
        }

            .tittlePhone{
                font-size: 1.7em;
            }

        .containerIzq{
            width: 37%;
        }
        
            .iconPhoneCard{
                width: 100px;
            }

.mobileComparisonContainer{
    width: 20vw;
    background-color: black;
    min-height: 100vh;
}    

.bottomCard{
    display: none;
    justify-content: flex-end;
}

.card:hover .bottomCard{
    display: flex;
}

    .containerIconComparison{
        padding: 2px;
    }

    .containerIconComparison:hover{
        border: 1px solid black;
        background-color: #91171F;
        border-radius: 20px;
        z-index: 99;
    }

        .containerTooltip{
            background-color: black;
        }

        .buttonComparison{
            padding: 2px;
        }

        .buttonComparison:hover{
            border: 1.4px solid black;
            background-color: #91171F;
            border-radius: 20px;
        }

    .iconPhone{
        width: 30px;
    }