.containerForm{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #104547;
}

    form{
        border: 2px solid black;
        padding: 10px;
        border-radius: 10px;
        background-color: #ACC3A6;
    }

    .containersInputs{
        display: flex;
        padding: 10px;
    }

        .widthPassword{
            display: block;
            width: 180px;
            text-align: center;
        }

        .tittleForm{
            font-size: 1.2em;
            font-weight: bold;
        }

        .inputs{
            width: 200px;
            height: 20px;
        }

    .buttonSizeForm{
        width: 140px;
        padding: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px ;
        font-size: 1.3em;
    }

    .containerButtons{
        display: flex;
        justify-content: center;
    }

        .buttonLogin, .buttonRegister{
            border: 2px solid black;
        }

        .buttonRegister{
            background-color: lightgreen;
            cursor: pointer;
        }

    .containerRedirectLogin{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 15px;
    } 
