<mat-sidenav-container>
    <mat-sidenav class="nav" (closedStart)="closeNav()"  [(opened)]="menuState" mode="push">
        <div class="containerTittleFilter">
            <h1 class="tittleFilter"> Filtros </h1>
        </div>
        <app-mobile-filters></app-mobile-filters>
    </mat-sidenav>  
    <mat-sidenav-content>
        <div #phoneListBody class="phoneListBody">
            <app-nav-top></app-nav-top>
            <img src="../../assets/img/iconMenu.png"
                alt="icono de navegacion" class="navIcon" (click)="openNav()" >
            <app-body-cards-phones></app-body-cards-phones>
            
        </div>
        <div class="containerFooter">
            <app-footer></app-footer>  
        </div>
    </mat-sidenav-content>   
</mat-sidenav-container>
